Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-exception-escape,
  -bugprone-random-generator-seed,
  clang-analyzer-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-slicing,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-auto,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  modernize-redundant-void-arg,
  performance-*,
  -performance-no-int-to-ptr,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-else-after-return,
  readability-implicit-bool-conversion,
  readability-redundant-smartptr-get,
  readability-simplify-boolean-expr,

WarningsAsErrors: ''

HeaderFilterRegex: 'include/nts/.*'

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: 5
  - key: readability-braces-around-statements.ShortStatementLines
    value: 1
